<ion-header>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchItems($event)" debounce="800" placeholder="查找"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="add()">
        <ion-icon name='md-add'></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="nav-nodes">
      <div *ngFor="let node of navbar; let i=index; trackBy:trackByIndex">
        <a class="nav-{{i}}" (click)="switch(node)">{{node.value}}</a>
      </div>
    </ion-item>
    <ion-item class="caption">
      <ion-icon (click)="showTree()" item-start name="git-merge"></ion-icon>
      {{current.value}}
      <!-- <ion-icon name='md-add' item-end (click)="add()"></ion-icon> -->
    </ion-item>
    <ion-item-sliding *ngFor="let node of current.children">
      <button *ngIf="node.children" (click)="switch(node)" ion-item>
        {{node.value}}
      </button>

      <ion-item *ngIf="!node.children">
        {{node.value}}
      </ion-item>

      <ion-item-options>
        <button type="button" (click)="del(item)" ion-button color="danger" icon-left>
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <!-- <div class="tree-demo">
    <div class="tree-container">
      <div class="tree-content">
        <tree [tree]="pls" [settings]="settings" (nodeRemoved)="onNodeRemoved($event)" (nodeRenamed)="onNodeRenamed($event)" (nodeSelected)="onNodeSelected($event)"
          (nodeMoved)="onNodeMoved($event)" (nodeCreated)="onNodeCreated($event)">
        </tree>
      </div>
    </div>
  </div> -->
</ion-content>
